# .gitignore format docs here: https://git-scm.com/docs/gitignore#_pattern_format
# ignore everything by default - this lets us allow things we want and ignore everything else
*

!/.eslintignore
!/.gitattributes
!/.gitignore
!/.npmrc
!/.pre-commit-config.yaml
!/.prettierignore
!/action.yml
!/eslint.config.js
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/README.md
!/rollup.config.ts
!/tsconfig.json
!/vitest.config.ts

!/.github/
!/.github/dependabot.yml
!/.github/workflows/
!/.github/workflows/*.yml

!/__tests__/
!/__tests__/test_changes.txt
!/__tests__/**/
!/__tests__/**/*.test.ts

!/dist/
!/dist/index.js
!/dist/index.js.map

!/src/
!/src/**/
!/src/**/*.ts
