# https://pnpm.io/settings#saveprefix
save-prefix=
# This should fix dependabot according to: https://github.com/dependabot/dependabot-core/issues/9891#issuecomment-2476700448
registry=https://registry.npmjs.org
@AceFire6:registry=https://npm.pkg.github.com/
